nav {
  padding: 28px 0;
  .logo {
    // position: relative;
    font-weight: 700;
    padding: 8px 12px;
    font-size: 20px;
    .deco {
      position: absolute;
      top: 5px;
      right: -1px;
      z-index: -1;
      background: #c0fa73;
      width: 8px;
      height: 8px;
      border-radius: 100%;
    }
  }
  .nav-item {
    font-weight: 500;
    padding: 12px 0;
  }
  .bi-person {
    font-size: 18px;
    &:hover{
      color: #57A203;
    }
  }
}
.bread-crumb {
  .bread-first {
    font-weight: 500;
    color: #6c757d;
  }
  li + li::before {
    content: "/";
    margin: 0 8px;
    color: #999;
  }
  .bread-active {
    font-weight: 500;
    color: #212529;
  }
}
.footer {
  padding-top: 48px;
  .ad {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    background: #e8fec5;
    padding: 33.5px 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
    .sign {
      padding: 12px 24px;
      background: #212529;
      color: white;
      font-weight: 500;
      border-radius: 4px;
      margin-left: 24px;
      &:hover{
        background: #495057;
      }
    }
  }
  .footer-list {
    justify-content: space-between;
    margin-bottom: 24px;
    .logo {
      font-weight: 700;
      padding: 8px 12px;
      font-size: 20px;
    }
    .nav-item {
      font-weight: 500;
      padding: 12px 0;
    }
  }
  .copy-right {
    border-top: 1px solid #dee2e6;
    font-size: 14px;
    padding-top: 32px;
    text-align: center;
    color: #6c757d;
    margin-bottom: 64px;
  }
}
