@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  padding: 28px 0;
}
nav .logo {
  font-weight: 700;
  padding: 8px 12px;
  font-size: 20px;
}
nav .logo .deco {
  position: absolute;
  top: 5px;
  right: -1px;
  z-index: -1;
  background: #c0fa73;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}
nav .nav-item {
  font-weight: 500;
  padding: 12px 0;
}
nav .bi-person {
  font-size: 18px;
}
nav .bi-person:hover {
  color: #57A203;
}

.bread-crumb .bread-first {
  font-weight: 500;
  color: #6c757d;
}
.bread-crumb li + li::before {
  content: "/";
  margin: 0 8px;
  color: #999;
}
.bread-crumb .bread-active {
  font-weight: 500;
  color: #212529;
}

.footer {
  padding-top: 48px;
}
.footer .ad {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  background: #e8fec5;
  padding: 33.5px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px;
}
.footer .ad .sign {
  padding: 12px 24px;
  background: #212529;
  color: white;
  font-weight: 500;
  border-radius: 4px;
  margin-left: 24px;
}
.footer .ad .sign:hover {
  background: #495057;
}
.footer .footer-list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}
.footer .footer-list .logo {
  font-weight: 700;
  padding: 8px 12px;
  font-size: 20px;
}
.footer .footer-list .nav-item {
  font-weight: 500;
  padding: 12px 0;
}
.footer .copy-right {
  border-top: 1px solid #dee2e6;
  font-size: 14px;
  padding-top: 32px;
  text-align: center;
  color: #6c757d;
  margin-bottom: 64px;
}

.container {
  width: 1296px;
  margin: 0 auto;
}

.position-relative {
  position: relative;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-center {
  text-align: center;
}

.mr-24 {
  margin-right: 24px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-48 {
  margin-right: 48px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-64 {
  margin-bottom: 64px;
}

.pt-48 {
  padding-top: 48px;
}

.text-primary {
  color: #57a203;
}

.text-second {
  color: #6c757d;
}

.active {
  color: #57a203;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
body img {
  display: block;
  width: 100%;
}
body a {
  text-decoration: none;
  color: black;
}
body button {
  cursor: pointer;
  font: inherit;
}

.h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
}

.product {
  width: 196px;
  margin-right: 24px;
}
.product .product-list .all-product {
  width: 172px;
  padding: 8px 0;
  margin-bottom: 28px;
  color: #57a203;
  font-weight: 500;
}
.product .product-list .product-item {
  width: 172px;
  padding: 12px 0;
  margin-bottom: 16px;
  font-weight: 500;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px 24px;
  margin-bottom: 48px;
}
.wrap .card {
  width: 342.67px;
  -webkit-transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.wrap .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05); /* 變大 */
  opacity: 1; /* 淡入 */
}
.wrap .card .product-img {
  width: 100%;
  margin-bottom: 12px;
}
.wrap .card .type {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 4px;
}
.wrap .card .price {
  font-weight: 500;
}

.pages-nums {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.pages-nums .active {
  background: #c0fa73;
}
.pages-nums .pages-num {
  font-weight: 500;
  width: 40px;
  font-size: 16px;
  text-align: center;
  padding: 12px 0;
}
.pages-nums .pages-num:hover {
  background: #F8F9FA;
}

.product-pics {
  width: 746px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.product-pics .product-pic {
  max-width: 369px;
}

.right {
  width: 526px;
}
.right .h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
}
.right .new-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #57a203;
  margin-right: 8px;
}
.right .old-price {
  font-size: 14px;
  color: #adb5bd;
  text-decoration: line-through;
}
.right .small-pic {
  width: 64px;
  margin-right: 8px;
  cursor: pointer;
}
.right .small-pic:hover img {
  opacity: 0.8;
}
.right .sizes {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
.right .sizes .size {
  width: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 24px;
  border: #dee2e6 1px solid;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}
.right .sizes .size:hover {
  border: solid 1px #6C757D;
  opacity: 1;
}
.right .sizes .size-active {
  border: #212529 1px solid;
}
.right .sizes .size-disabled {
  color: #adb5bd;
}
.right .hint {
  color: #d74f4f;
  font-size: 14px;
}
.right .add-to-fav {
  padding: 12px 82px;
  border: #212529 1px solid;
  border-radius: 4px;
  background: white;
  font-weight: 500;
  font-size: 16px;
  margin-right: 8px;
}
.right .add-to-fav:hover {
  background: #212529;
  color: white;
}
.right .add-to-fav .bi-heart {
  font-size: 20px;
  margin-right: 2px;
}
.right .try-on {
  font-weight: 500;
  font-size: 16px;
  background: #000;
  color: white;
  border: #212529 1px solid;
  border-radius: 4px;
  padding: 12px 65.5px;
}
.right .try-on .bi-handbag {
  font-size: 20px;
  margin-right: 2px;
}
.right .h3 {
  font-weight: 500;
}
.right .direction {
  color: #6c757d;
  padding-bottom: 12px;
  border-bottom: #dee2e6 1px solid;
}

.other-products .h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 24px;
  padding: 9.5px 0;
}
.other-products .products {
  gap: 24px;
}
.other-products .products .card {
  width: 306px;
}
.other-products .products .card .type {
  font-weight: 700;
  line-height: 1.2;
}/*# sourceMappingURL=all.css.map */